footer.footer
  nav.footer-nav
    a.footer-nav-link(href='#') Terms of Service
    a.footer-nav-link(href='#')  Privacy Policy
    a.footer-nav-link(href='#') Cookie Policy
    a.footer-nav-link(href='#') Accessibility
    a.footer-nav-link(href='#') Ads info
    a.footer-nav-link(href='#') More &mldr;
    span.copyright &copy; 2023 longhoang.