extends base

block content
  span.preheader= subject
  table.body(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td &nbsp;
        td.container
          .content
            // START CENTERED WHITE CONTAINER
            table.main(role='presentation')
              // START MAIN CONTENT AREA
              tbody
                tr
                  td.wrapper
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                      tbody
                        tr
                          td
                            p Hi #{firstName},
                            p
                              | You forgot password, click this button to reset your password
                            table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
                              tbody
                                tr
                                  td(align='left')
                                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                                      tbody
                                        tr
                                          td
                                            a(href=`${url}`, target='_blank') Reset password
                            p
                              | To ensure about the security you shouldn't allow anyone know your password
                            p Good luck! Hope you have good experience.
                // END MAIN CONTENT AREA
                // END CENTERED WHITE CONTAINER
                // START FOOTER